:root {
    --ion-color-primary: #025436;
    --ion-color-primary-rgb: 2, 84, 54;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #024a30;
    --ion-color-primary-tint: #1b654a;
  
    --ion-color-secondary: #ed6c25;
    --ion-color-secondary-rgb: 237, 108, 37;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d15f21;
    --ion-color-secondary-tint: #ef7b3b;
  
    --ion-color-tertiary: #0d8c5d;
    --ion-color-tertiary-rgb: 13, 140, 93;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #0b7b52;
    --ion-color-tertiary-tint: #25986d;
  
    --ion-color-success: #0d8c5d;
    --ion-color-success-rgb: 13, 140, 93;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0b7b52;
    --ion-color-success-tint: #25986d;
  
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    --ion-color-danger: #ea2e47;
    --ion-color-danger-rgb: 234, 46, 71;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ce283e;
    --ion-color-danger-tint: #ec4359;
  
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  
    --ion-color-dark: #333333;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #555555;
    --ion-color-dark-tint: #888888;
  }
  